{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-6">
        <h1>Carro Mazda</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis exercitationem voluptas est a vel unde velit, aut fugiat expedita excepturi distinctio quo, dicta delectus officia placeat quisquam consequatur. Magni, adipisci.</p>
    </div>
    <div class="col-6">
        <img src="assest/img/carroMazda.jpg" class="img-thumbnail">
    </div>
</div>


{{> footer }}